<!doctype html>
<html lang="en">
  <head>
    <title>WebCV Short CV</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../style/cvFull.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'pt', includedLanguages: 'en,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
          }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div class="page">
      <div class="form-group">
        <div class="row" id="cabeçalho">
          <div class="col-3"></div>
          <div class="col-2">
            <img id="imgCab" src="../img/user.png"> <!-- buscar a foto do utilizador -->
            <h4 id="nomeCab"></h4>
          </div>
          <div class="col-4">
            <h6>Data de Nascimento</h6>
            <p id="dataCab"></p>
            <!--<h6>Morada</h6>-->
            <!--<p id="moradaCab"></p>-->
            <h6>Contacto</h6>
            <p id="contactoCab"></p>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row" id="body_page">
          <div class="col-2"></div>
          <div class="col-8">
            <h6>Carta de Condução:</h6>
            <p id="cartaBod"></p>
            <h6>Profissão:</h6>
            <p id="profBod"></p>
            <h6>Carreira Académica:</h6>
            <p id="carreiraBod"></p><br>
            <h6>Experiência Profissional:</h6>
            <p id="expBod"></p><br>
            <h6>Projetos Realizados:</h6>
            <p id="projBod"></p><br>
            <h6>Capacidades:</h6>
            <p id="capacidadesBod"></p><br>
            <h6>Objetivos:</h6>
            <p id="objetivosBod"></p><br>
            <h6>Informação Adicional:</h6>
            <p id="infoBod"></p><br>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
    <div class="form-group">
        <a href="../mainIndividuo"><input id="vt" type="button" name="Voltar" value="Voltar"> </a>
        <input id="vz" type="button" name="Visualizar" value="Full CV"><br>
        <button  style ="margin:-500px -15px; position:relative;top:50%; left:50%;"  id="descarregar"><a id="descarrega">Descarregar CV</a></button>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>
    <script type="text/javascript" src="../controller/carregarTemplate.controller.js"></script>
  </body>
</html>