<!doctype html>
<html lang="en">
  <head>
    <title>WebCV Individuo Homepage</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../style/main.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <form class="form-inline">
                <a href="#header">
                    <img src="../img/WebCV_Logo_2.png" class="navbar-brand js-scroll-trigger">
                </a>
                <p name="bem-vindo"></p>
            </form>
            <div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'pt', includedLanguages: 'en,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
          }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/cv">Criar/Editar CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" id="verShortCV">Ver CV</a>
                    </li>
                    <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CV<span class="caret"></span></a>-->
                    <!--    <ul class="dropdown-menu">-->
                    <!--        <li><a href="/cv">Criar/Editar</a></li>-->
                    <!--        <li><a id="verCV" href="/cvShort">Visualizar</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--    <a class="nav-link js-scroll-trigger" href="/portfolio">Criar/Editar Portfólio</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--    <a class="nav-link js-scroll-trigger" href="/portfolioShort">Vêr Portfólio</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <!-- <a class="nav-link js-scroll-trigger" id="Sessao"></a> -->
                        <a class="nav-link js-scroll-trigger" id="sessaoIndividuo">Terminar Sessão</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" id="header">
    </header>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>
    <script type="text/javascript" src="./controller/login.controller.js"></script>
    <script type="text/javascript" src="./controller/carregarTemplate.controller.js"></script>
  </body>
</html>