<!doctype html>
<html lang="en">

<head>
    <title>WebCV Subscrições</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../style/subscricoes.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <form class="form-inline">
                <a href="/mainEmpresa">
                    <img src="../img/WebCV_Logo_2.png" class="navbar-brand js-scroll-trigger">
                </a>
                <p name="bem-vindo"></p>
            </form>
            <div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'pt', includedLanguages: 'en,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
          }
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/consulta">Consulta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/subscricoes">Subscrições</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link js-scroll-trigger" id="Sessao"></a> -->
                        <a class="nav-link js-scroll-trigger" id="sessaoSubscricoes">Terminar Sessão</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div id="result" class="table-responsive">
                <!--<table class="table" id="subs">-->
                <!--    <thead class="thead-dark">-->
                <!--        <tr>-->
                <!--            <th>Nome</th>-->
                <!--            <th>Data de Nascimento</th>-->
                <!--            <th>Profissão</th>-->
                <!--            <th>E-mail</th>-->
                <!--            <th>CV/Portfólio</th>-->
                <!--            <th>Remover</th>-->
                <!--        </tr>-->
                <!--    </thead>-->
                <!--    <tbody>-->
                <!--Violas não te esquecas destas duas linhas: <td><a href=""><i class="fa fa-arrow-right" style="font-size:30px; color: rgb(19, 19, 109); padding-left: 30px"></i></a></td>
                <!--        <td><a href=""><i class="fa fa-close" style="font-size:30px; color:red; padding-left: 20px"></i></a></td> -->-->
                <!--    </tbody>-->
                <!--</table>-->
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>
    <!--<script type="text/javascript" src="./controller/login.controller.js"></script>-->
    <script type="text/javascript" src="./controller/subscricoes.controller.js"></script>
</body>

</html>
