#mainNav {
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 200;
	letter-spacing: 1px;
	align-content: center; }
#mainNav form {
	margin: 5px 0 5px 0;
}
#mainNav form p{
	font-size: 12px;
    text-align: left;
    margin: 10px 0 0 0;
    color:rgba(255, 255, 255, 0.65);
}
#mainNav .navbar-nav > li > a {
	color: #ffffff;
	font-size: 16px;
	font-family: 'Didact Gothic', sans-serif;
	margin: 5px 0 5px 0; }
#mainNav .navbar-nav > li > a.active {
	color: #ffffff; }
#mainNav .navbar-nav > li > a.active:hover {
	font-style: bold }
@media (min-width: 992px) {
	#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
		font-style: bold; }
	#mainNav .navbar-nav > li > a,
	#mainNav .navbar-nav > li > a:focus {
		font-style: bold }
	#mainNav .navbar-nav > li > a:hover,
	#mainNav .navbar-nav > li > a:focus:hover {
        font-style: bold; } }

body {
    line-height: 1;
     -webkit-text-size-adjust: none;
    background-color: #000;
    background-image: url("../img/subscricoes.jpg");
    background-size: cover;
	background-position: top center; 
}

.row {
	padding-top: 190px
}

tbody {
	background-color: white;
}